<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello Parents !</span>
    </h1>
    <p translate>HOME_DESC</p>
    <app-loader [isLoading]="isLoading"></app-loader>
    <!--    <q [hidden]="isLoading">{{ quote }}</q>-->
  </div>
  <h2>Schools</h2>
  <div *ngIf="schoolArray != undefined" class="row">
    <div class="col-md-9">
      <div class="row">
        <div *ngFor="let school of schoolArray" class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ school.name }}</h4>
              <p class="card-text">
                Located in <strong>{{ school.address }}</strong
                >.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ school.numberOfStudents }} students goes there.</li>
            </ul>
            <div class="card-body">
              <a [href]="'https://google.com/?q=' + school.name" target="_blank" class="btn btn-primary">Lean more.</a>
              <a [href]="'https://maps.google.com/?q=' + school.address" target="_blank" class="card-link">Direction</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <form>
        <div class="form-group">
          <label for="keyword">School Filter</label>
          <input type="text" class="form-control" id="keyword" placeholder="Turramurra..." />
          <small id="emailHelp" class="form-text text-muted">You can filter for school name and address.</small>
        </div>
        <select class="form-control">
          <option *ngFor="let state of states">{{ state }}</option>
        </select>
      </form>
    </div>
  </div>
  <div *ngIf="schoolArray != undefined && schoolArray.length == 0" class="row">
    <div class="alert alert-warning" role="alert">
      This is no school at the moment. <a href="#" class="alert-link">Create a School</a> maybe?.
    </div>
  </div>
</div>
